@charset "utf-8";
#wrapper {
	width: 95.5%;
	margin: 0 auto;
	background-color:darkkhaki;
}
header {
	height:100px;
}
header h1 {
	font-size:300%;
	padding: 30px;
}
header img {
	float:left;
	clear: both;
}
nav ul {
	float:right;
	background-color:cadetblue;
}
nav ul li {
	list-style:none;
	float:left;
	
	font-size:120%;
}

nav ul li a {
	text-decoration: none;
	display: block;
	padding-left: 40px;
	padding-right: 40px;
	font-weight: bold;
	color: blue;
}

header nav ul li a:hover {
	background-color: white;
	
}

#main_h1 {
	clear:both;
}
#col1 {
	width: 95%;
	float: left;
	height: 320px;
	margin: 5px 15px 5px 10px;
	padding: 5px;
	font-size: 100%;
}
#col2 {
	width: 88%;
	float: left;
	height: 250px;
	margin: 5px 15px 5px 10px;
	padding: 5px;
	font-size: 100%;
}
#col3 {
	width: 45%;
	float: left;
	height: 200px;
	border: solid;
	margin: 5px 20px  5px 40px;
	padding: 5px;
	font-size: 100%;
}
#col4 {
	width: 45%;
	float: left;
	height: 200px;
	border: solid;
	margin: 5px 20px  5px 40px;
	padding: 5px;
	font-size: 100%;
}
#col5 {
	width: 45%;
	float: left;
	height: 320px;
	margin: 5px 20px  5px 50px;
	padding: 5px;
	font-size: 100%;
}
#col6 {
	width: 45%;
	float: left;
	height: 320px;
	margin: 5px 20px  5px 40px;
	padding: 5px;
	font-size: 100%;
}
#col7 {
	width: 90%;
	float: left;
	height: 400px;
	margin: 5px 20px  5px 45px;
	padding: 5px;
	font-size: 100%;
}
#col8 {
	width: 75%;
	float: left;
	height: 480px;
	margin: 5px 20px  5px 15px;
	padding: 5px;
	font-size: 110%;
}
#col9 {
	width: 75%;
	float: left;
	height: 450px;
	margin: 5px 20px  5px 15px;
	padding: 5px;
	font-size: 120%;
}
#col10 {
	width: 45%;
	float: left;
	height: 230px;

	margin: 5px 20px  5px 25px;
	padding: 5px;
	font-size: 100%;
}


footer {
	clear: both;
	background-color: lightgreen;
}
footer h3 {
	font-size: 90%;
	text-align: center;
}